---
title: BotBuilders, We Build Your Bots
---

<div class="wrapper">


  <div id="main">
    <div id="logo_container">
      <img id="logo_image" src="<%= lorem.image('25x25') %>" />
      <h2 id="logo_text">BotBuilders</h2>
    </div>
    <div id="intro_copy">
      <h1>We Build Bots</h1>
      <p><%= lorem.paragraph %></p>
      <button>Build Your Bot Now</button>
    </div>
    <img id="phones_image" src="<%= lorem.image('800x700') %>" />
    <img id="bot_image" src="<%= lorem.image('200x200') %>" />
  </div>


  <div id="upsell">
    <div id="upsell_copy_container">
      <h3>We Build Slack Bots Too...</h3>
      <p><%= lorem.words 20 %></p>
      <img id="upsell_small_image" src="<%= lorem.image('50x50') %>" />
    </div>
    <img id="upsell_large_image" src="<%= lorem.image('650x300') %>" />
  </div>



  <div id="details">
    <p id=details_header>The Sky Is The Limit</p>
    <div class="detail">
      <img src="<%= lorem.image('300x130') %>" />
      <h4>This Is A Title</h4>
      <p><%= lorem.words 13 %></p>
    </div>
    <div class="detail">
      <img src="<%= lorem.image('300x130') %>" />
      <h4>This Is A Title</h4>
      <p><%= lorem.words 13 %></p>
    </div>
    <div class="detail">
      <img src="<%= lorem.image('300x130') %>" />
      <h4>This Is A Title</h4>
      <p><%= lorem.words 13 %></p>
    </div>

  </div>

  <div id="last_cta">
    <p>Let's build bots together</p>
    <button>Contact</Contact>
  </div>

  <div id="footer">
    <p>Copyright Popstand 2016</p>
    <img src="<%= lorem.image('200x15') %>" />
  </div>
</div>
